<div class="row">
  <div class="col-md-12">
    <div class="box-shadow">
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Generated TimeTables List {{noOfTimeTableMainEntities||""}}</div>
      </div>

      <div class="table-responsive">
        <table class="table color-table primary-table table-bordered table-striped">
          <thead>
          <tr>
            <th>#</th>
            <th>Year</th>
            <th>TimeTable Name</th>
            <th>View</th>
          </tr>
          <tr *ngFor="let timeTableMainEntity of timeTableMainEntitiesList;let i=index;">
            <td>{{i+1}}</td>
            <td>{{timeTableMainEntity.year}}</td>
            <td>{{timeTableMainEntity.timeTableName}}</td>
            <td>
              <button class="waves-effect waves-light btn-sm btn-warning btn-rounded" (click)="deleteSubject(subject.id)">
                Delete<i class="fa fa-eye"></i>
              </button>
            </td>
          </tr>
          </thead>
        </table>
      </div>

    </div>
  </div>
</div>
