<div class="row">
  <div class="col-md-12">
    <div class="box-shadow">
      <div class="panel panel-blue" *ngIf="isDepartmentsListEmpty">
        <div class="panel panel-info">
          <div class="panel-heading">No Departments Have Been Created Currently,Click Button To
            <button class="btn btn-rounded btn-xl btn-primary waves-effect waves-light"
                    (click)="openAddDepartmentModal()">
              Add Department
              <i class="fa fa-plus-square"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="panel panel-default" *ngIf="!isDepartmentsListEmpty">
        <div class="panel-heading" >Department List {{noOfDepartments||""}}</div>
        <!-- Table -->
        <div class="table-responsive">
          <table class="table color-table primary-table">
            <thead>
            <tr>
              <th>#</th>
              <th>Dept. Name</th>
            </tr>
            </thead>

            <tr *ngFor="let department of departments;let i=index">

              <td>{{i+1}}</td>
              <td>{{department.deptName}}</td>
            </tr>
          </table>
        </div>
      </div>
      <modal [animation]="true" [keyboard]="true" [backdrop]="backdrop" [size]="sm" (onClose)="closed()"
             [cssClass]="" #modalAddDept>
        <modal-header [show-close]="false">
          <div class="panel panel-info">
            <div class="panel-heading">Add Department</div>
          </div>
        </modal-header>
        <form class="floating-labels" (submit)="addDepartment(addDeptForm)" [formGroup]="addDeptForm">
          <modal-body>

            <div class="form-group m-t-10 m-b-40 has-feedback">
              <input type="text" class="form-control" id="deptName" required formControlName="deptName">
              <span class="highlight"></span><span class="bar"></span>
              <label for="deptName">Department Name</label>
              <div class="has-success" *ngIf="!formErrors.deptName">
                <span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>
              </div>
              <div class="has-error" *ngIf="formErrors.deptName">
                <span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>
              </div>
              <div *ngIf="formErrors.deptName" class="alert alert-danger">
                {{ formErrors.deptName }}
              </div>
            </div>

            <!--<div class="form-group m-t-10 m-b-40">-->
              <!--<select class="form-control select-picker" formControlName="deptHOD">-->
                <!--<option *ngFor="let tutor of tutors" value="{{tutor.id}}">{{tutor.firstName}}</option>-->
              <!--</select>-->
            <!--</div>-->

            <div class="form-group m-t-10 m-b-40">
            <h3>Select an H.O.D</h3>
            <ng-select [allowClear]="false"
                       [items]="tutorNames"
                       (data)="refreshValue($event)"
                       (selected)="selectedHOD($event)"
                       (typed)="typedHODName($event)"
                       placeholder="No H.O.D selected">
            </ng-select>
            </div>

          </modal-body>
          <modal-footer>
            <div class="pull-right">
              <button type="button" class="btn btn-xl btn-danger btn-rounded waves-effect waves-light"
                      data-dismiss="modal" (click)="modalAddDept.dismiss()">Cancel
              </button>
              <button type="submit" class="btn btn-xl btn-primary btn-rounded waves-effect waves-light"
                      [disabled]="!addDeptForm.valid"
              >Submit
              </button>
            </div>
          </modal-footer>

        </form>

      </modal>
    </div>
  </div>
</div>
