<div class="row">
  <div class="col-md-12">
    <div class="box-shadow">
      <div class="panel panel-blue" *ngIf="isDepartmentsListEmpty">
        <div class="panel panel-info">
          <div class="panel-heading">No Departments Have Been Created Currently,Click Button To
            <button class="btn btn-rounded btn-xl btn-primary waves-effect waves-light" (click)="openAddTutorModal()">
              Add Department
              <i class="fa fa-plus-square"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
