<div class="row">
  <div class="col-md-12">
    <div class="box-shadow">
      <div class="btn-group pull-right btn-group-lg">
        <button type="button" class="btn btn-info waves-effect waves-light" (click)="refreshPage()">Refresh<i
          class="fa fa-refresh"></i>
        </button>
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="openAddProgrammeGroupModal()">
          Add Programme<i
          class="fa fa-plus-square"></i></button>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Programme List {{noOfProgrammeGroups||""}}</div>

        <div class="table-responsive">
          <table class="table color-table primary-table">
            <thead>
            <tr>
              <th>#</th>
              <th>Prog. Name</th>
              <th>Prog. Code</th>
              <th>YearGroups</th>
              <th>Delete</th>
              <!--<th>Edit</th>-->

            </tr>
            </thead>
            <tr *ngFor="let programmeGroup of programmeGroups;let i=index">

              <td>{{i+1}}</td>
              <td>{{programmeGroup.programmeFullName}}</td>
              <td>{{programmeGroup.programmeCode}}</td>

              <td>Form {{programmeGroup.yearGroupList}}</td>
              <td>
                <button class="waves-effect waves-light btn-sm btn-danger btn-rounded" (click)="deleteProgrammeGroup(programmeGroup.id)">
                  Delete<i class="fa fa-trash"></i>
                </button>
              </td>
              <!--<td>-->
              <!--<button class="waves-effect waves-light btn-sm btn-info btn-rounded"-->
              <!--(click)="openUpdateTutorModal(tutor)">-->
              <!--Edit <i class="fa fa-edit"></i>-->
              <!--</button>-->
              <!--</td>-->
            </tr>
          </table>
        </div>
      </div>

      <div class="panel panel-blue" *ngIf="isProgrammeGroupListEmpty">
        <div class="panel panel-info">
          <div class="panel-heading">No Programmes Have Been Created Currently,Click Button To Add A Programme
            <button class="btn btn-rounded btn-xl btn-primary waves-effect waves-light" (click)="openAddProgrammeGroupModal()">
              Add Programme
              <i class="fa fa-plus-square"></i>
            </button>
          </div>
        </div>

      </div>

      <modal [animation]="true" [keyboard]="true" [backdrop]="backdrop" [size]="sm" (onClose)="closed()"
             [cssClass]="" #modalAddProgrammeGroup>
        <modal-header [show-close]="false">
          <div class="panel panel-info">
            <div class="panel-heading">Add Programme</div>
          </div>
        </modal-header>
        <form class="floating-labels" (submit)="addProgrammeGroup(addProgrammeGroupForm)" [formGroup]="addProgrammeGroupForm">
          <modal-body>

            <div class="form-group m-t-10 m-b-40 has-feedback">
              <input type="text" class="form-control" id="progFullNameId" required formControlName="programmeFullName">
              <span class="highlight"></span><span class="bar"></span>
              <label for="progFullNameId">Programme Full Name</label>

              <div class="has-success" *ngIf="!formErrors.programmeFullName && addProgrammeGroupForm.get('programmeFullName').valid">
                <span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>
              </div>
              <div class="has-error" *ngIf="formErrors.programmeFullName">
                <span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>
              </div>
              <div *ngIf="formErrors.programmeFullName" class="alert alert-danger">
                {{ formErrors.programmeFullName }}
              </div>
            </div>

            <div class="form-group m-t-10 m-b-40 has-feedback">
              <input type="text" class="form-control" id="progInitials" required formControlName="programmeInitials">
              <span class="highlight"></span><span class="bar"></span>
              <label for="progInitials">Programme Initials</label>

              <div class="has-success" *ngIf="!formErrors.programmeInitials && addProgrammeGroupForm.get('programmeInitials').valid">
                <span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>
              </div>
              <div class="has-error" *ngIf="formErrors.programmeInitials">
                <span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>
              </div>
              <div *ngIf="formErrors.programmeInitials" class="alert alert-danger">
                {{ formErrors.programmeInitials }}
              </div>
            </div>

            <div class="panel-title m-t-10 text-capitalize text-blue">Does Programme Require A Workshop or Kitchen?</div>
            <div class="row form-group m-b-40" id="techWorkshopRequired">
              <div class="m-b-10 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="radio radio-primary has-feedback">
                  <input type="radio" id="trueId" formControlName="technicalWorkshopOrLabRequired" name="technicalWorkshopOrLabRequired" required checked value=true>
                  <label for="trueId">Yes</label>
                </div>
              </div>
              <div class="m-b-10 col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="radio radio-primary">
                  <input type="radio" id="falseId" formControlName="technicalWorkshopOrLabRequired" name="technicalWorkshopOrLabRequired" required value=false>
                  <label for="falseId">No</label>
                </div>
              </div>
            </div>

            <div class="form-group m-t-20 m-b-40 has-feedback">
              <input type="number" class="form-control input-sm" id="numberOfClasses" required formControlName="numberOfClasses" min="1" max="7">
              <span class="highlight"></span><span class="bar"></span>
              <label for="numberOfClasses">No. Of Classes In Each YearGroup(Max.=7classes)</label>

              <div class="has-success" *ngIf="!formErrors.numberOfClasses && addProgrammeGroupForm.get('numberOfClasses').valid">
                <span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>
              </div>
              <div class="has-error" *ngIf="formErrors.numberOfClasses">
                <span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>
              </div>
              <div *ngIf="formErrors.numberOfClasses" class="alert alert-danger">
                {{ formErrors.numberOfClasses }}
              </div>
            </div>
            <div class="form-group m-t-10 m-b-40">
              <div class="panel-title text-capitalize text-blue">
                Select YearGroup(s) That Take This Course
              </div>
              <ng-select [multiple]="true"
                         [allowClear]="false"
                         [items]="getYearGroupItems()"
                         (data)="refreshValueMultiple($event)"
                         (selected)="selectedYearGroup($event)"
                         (removed)="removedYearGroup($event)"
                         placeholder="No YearGroup selected"
              >
              </ng-select>
            </div>

          </modal-body>
          <modal-footer>
            <div class="pull-right">
              <button type="button" class="btn btn-xl btn-danger btn-rounded waves-effect waves-light"
                      data-dismiss="modal" (click)="modalAddProgrammeGroup.dismiss()">Cancel
              </button>
              <button type="submit" class="btn btn-xl btn-primary btn-rounded waves-effect waves-light"
                      [disabled]="!addProgrammeGroupForm.valid"
              >Submit
              </button>
            </div>
          </modal-footer>

        </form>

      </modal>
    </div>
  </div>
</div>
