<!--TODO BEAUTIFY TUTOR CREATION FORM AND GET IT MORE USER FRIENDLY-->
<div class="row">
  <div class="col-md-12">
    <div class="box-shadow">
      <!--<h3 class="box-title">Blank Starter page</h3>-->
      <div class="btn-group pull-right btn-group-lg ">
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="openTutorModal()">Add Tutor<i
          class="fa fa-plus-square"></i></button>
        <button type="button" class="btn btn-danger waves-effect waves-light" (click)="deleteAllTutors()">Delete All Tutors<i
          class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Tutors List</div>

        <!-- Table -->
        <div class="table-responsive">
          <table class="table color-table primary-table">
            <thead>
            <tr>
              <th>Tutor Name</th>
              <th>Speciality</th>
              <th>Max Load</th>
              <th>Min Load</th>
              <th>Delete</th>
              <th>Edit</th>

            </tr>
            </thead>
            <tr *ngFor="let tutor of tutors">

              <td>{{tutor.firstName}}</td>
              <td>{{tutor.tutorSubjectSpeciality}}</td>
              <td>{{tutor.maxPeriodLoad}}</td>
              <td>{{tutor.minPeriodLoad}}</td>
              <td>
                <button class="waves-effect waves-light btn-sm btn-danger btn-rounded" (click)="deleteTutor(tutor.id)">
                  Delete<i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <button class="waves-effect waves-light btn-sm btn-info btn-rounded">
                  Edit <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="panel panel-blue" *ngIf="isTutorsListEmpty">
        <div class="panel panel-info">
          <div class="panel-heading">No Tutors Have Been Created Currently,Click Button To Add A Tutor
            <button class="btn btn-rounded btn-xl btn-primary waves-effect waves-light" (click)="openTutorModal()">Add Tutor
            </button>
          </div>
        </div>

      </div>


      <modal [animation]="true" [keyboard]="true" [backdrop]="backdrop" [size]="lg" (onClose)="closed()"
             [cssClass]="box-shadow" #modal>
        <modal-header [show-close]="false">
          <div class="panel panel-info">
            <div class="panel-heading">Add Tutor</div>
          </div>
        </modal-header>
        <form class="floating-labels">
        <modal-body>

            <div class="form-group m-b-40">
              <input type="text" class="form-control" id="firstName" required name="firstName" [(ngModel)]="firstName">
              <span class="highlight"></span><span class="bar"></span>
              <label for="firstName">First Name</label>
            </div>

            <div class="form-group m-b-40">
              <input type="text" class="form-control" id="surName" required [(ngModel)]="surName" name="surName">
              <span class="highlight"></span><span class="bar"></span>
              <label for="surName">Sir Name</label>
            </div>

            <div class="form-group m-b-40">
              <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="phoneNumber" name="phoneNumber" required pattern="/^\d+$/">
              <span class="highlight"></span><span class="bar"></span>
              <label for="phoneNumber">PhoneNumber : eg. 0267777830</label>
            </div>

            <div class="form-group m-b-40">
              <input type="email" class="form-control" id="emailAddress" [(ngModel)]="emailAddress" name="emailAddress" required>
              <span class="highlight"></span><span class="bar"></span>
              <label for="emailAddress">Email Address : eg. rodney.kboachie@gmail.com</label>
            </div>

            <div class="form-group m-b-40">
              <input type="number" class="form-control" id="minPeriodLoad" [(ngModel)]="minPeriodLoad" name="maxPeriodLoad" required>
              <span class="highlight"></span><span class="bar"></span>
              <label for="minPeriodLoad">Minimum Periods That Should Be assigned to tutor</label>
            </div>
            <div class="form-group m-b-40">
              <input type="number" class="form-control" id="maxPeriodLoad" [(ngModel)]="maxPeriodLoad" name="maxPeriodLoad" required>
              <span class="highlight"></span><span class="bar"></span>
              <label for="maxPeriodLoad" >Maximum Periods That Should Be assigned to tutor</label>
            </div>
          <div class="panel-title text-capitalize text-blue">Choose Type of Tutor</div>
          <div class="row form-group m-b-40" id="tytorTypeId">
            <div class="col-lg-6">
              <input type="radio"  [(ngModel)]="tutorSubjectSpeciality" name="tutorSubjectSpeciality" value="CORE" checked>CORE SUBJECT<br>
            </div>
            <div class="col-lg-6">
              <input type="radio"  id="tutorSubjectSpeciality" [(ngModel)]="tutorSubjectSpeciality" name="tutorSubjectSpeciality" value="ELECTIVE">ELECTIVE SUBJECT<br>
            </div>
            </div>

        </modal-body>
          <modal-footer>
        <div class="pull-right">
          <button type="button" class="btn btn-xl btn-danger btn-rounded waves-effect waves-light"
                  data-dismiss="modal" (click)="modal.dismiss()">Cancel
          </button>
          <button type="submit" class="btn btn-xl btn-primary btn-rounded waves-effect waves-light"
                  (click)="addTutor()">Submit
          </button>
        </div>
          </modal-footer>

        </form>

      </modal>


    </div>
  </div>
</div>






