<div class="row">
  <div class="col-md-12">
    <div class="box-shadow">
      <!--<h3 class="box-title">Blank Starter page</h3>-->
      <div class="btn-group pull-right btn-group-lg ">
        <button type="button" class="btn btn-primary waves-effect">Add Tutor<i class="fa fa-plus-square"></i></button>
        <button type="button" class="btn btn-danger waves-effect">Delete All Tutors<i class="fa fa-trash-o"></i>
        </button>
      </div>
      <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Tutors List</div>

        <!-- Table -->
        <div class="table-responsive">
          <table class="table color-table primary-table">
            <thead>
            <tr>
              <th>Tutor Name</th>
              <th>Speciality</th>
              <th>Max Load</th>
              <th>Min Load</th>
              <th>Delete</th>
              <th>Edit</th>

            </tr>
            </thead>
            <tr *ngFor="let tutor of tutors">

              <td>{{tutor.firstName}}</td>
              <td>{{tutor.tutorSubjectSpeciality}}</td>
              <td>{{tutor.maxPeriodLoad}}</td>
              <td>{{tutor.minPeriodLoad}}</td>
              <td>
                <button class="waves-effect btn-sm btn-danger btn-rounded" (click)="deleteTutor(tutor.id)">
                  Delete<i class="fa fa-trash"></i>
                </button>
              </td>
              <td>
                <button class="waves-effect btn-sm btn-info btn-rounded">
                  Edit <i class="fa fa-edit"></i>
                </button>
              </td>

            </tr>

          </table>
        </div>
      </div>
    </div>
  </div>
</div>
