<div class="row">
  <div class="col-sm-12">
    <div class="box-shadow panel-body">

      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <div class="box-shadow panel-body">
            <div *ngIf="isGenerateButtonWandVisible">
              <button class="btn btn-rounded btn-xl btn-primary waves-effect waves-light"
                      (click)="openGenerateTimeTableSubjectModal()">
                Generate TimeTable
                <i class="fa fa-magic"></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!isGenerateButtonWandVisible" class="panel panel-default">
        <div class="pull-right">
          <div class="form-group m-t-10 m-b-40">
            <h3>Select Type of TimeTable: Class/Tutor TimeTable.</h3>
            <ng-select [allowClear]="false"
                       [items]="timeTableTypeItems"
                       (data)="refreshTimeTableTypeData($event)"
                       (selected)="selectedTimeTableType($event)"
                       (typed)="typedChar($event)"
                       placeholder="No TimeTable Type Selected"
            >
            </ng-select>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <div *ngIf="isTutorsTimeTablesVisible">
            <div *ngFor="let tutorPersonalTimeTableEntity of tutorPersonalTimeTableDocsList;">
              <div class="panel panel-blue m-t-10">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    Tutor Name : {{tutorPersonalTimeTableEntity.tutorDoc.firstName + ' '+tutorPersonalTimeTableEntity.tutorDoc.surName}}
                  </div>
                </div>
              </div>

              <div>
                <div class="table-responsive">
                  <table class="table color-table primary-table">
                    <thead>
                    <tr>
                      <th>DayName</th>
                      <th>Period1</th>
                      <th>Period2</th>
                      <th>Period3</th>
                      <th>Period4</th>
                      <th>Period5</th>
                      <th>Period6</th>
                      <th>Period7</th>
                      <th>Period8</th>
                      <th>Period9</th>
                      <th>Period10</th>
                    </tr>
                    </thead>

                    <tr *ngFor="let programmeDay of tutorPersonalTimeTableEntity.programmeDaysList">
                      <td>
                        {{programmeDay.dayName}}
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[0].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[0].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[1].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[1].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[2].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[2].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[3].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[3].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[4].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[4].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[5].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[5].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[6].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[6].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[7].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[7].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[8].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[8].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[9].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[9].programmeCodeThatTutorIsTeaching||''}}</div>
                      </td>

                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="isProgrammeGroupTimeTablesVisible">
            <div *ngFor="let programmeGroupPersonalTimeTableEntity of programmeGroupPersonalTimeTableDocsList;">
              <div class="panel panel-blue m-t-10">
                <div class="panel panel-info">
                  <div class="panel-heading">
                    Programme Code : {{programmeGroupPersonalTimeTableEntity.programmeCode}}
                  </div>
                </div>
              </div>

              <div>
                <div class="table-responsive">
                  <table class="table color-table primary-table">
                    <thead>
                    <tr>
                      <th>DayName</th>
                      <th>Period1</th>
                      <th>Period2</th>
                      <th>Period3</th>
                      <th>Period4</th>
                      <th>Period5</th>
                      <th>Period6</th>
                      <th>Period7</th>
                      <th>Period8</th>
                      <th>Period9</th>
                      <th>Period10</th>
                    </tr>
                    </thead>

                    <tr *ngFor="let programmeDay of programmeGroupPersonalTimeTableEntity.programmeDaysList">
                      <td>
                        {{programmeDay.dayName}}
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[0].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[0].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[1].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[1].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[2].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[2].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[3].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[3].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[4].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[4].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[5].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[5].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[6].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[6].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[7].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[7].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[8].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[8].tutorFullName||''}}</div>
                      </td>
                      <td>
                        <div>{{programmeDay.periodList[9].subjectFullName||''}}</div>
                        <div>{{programmeDay.periodList[9].tutorFullName||''}}</div>
                      </td>

                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <modal [animation]="true" [keyboard]="true" [backdrop]="backdrop" [size]="lg" (onClose)="closed()"
             [cssClass]="" #modalGenerateTimeTableDialog>
        <modal-header [show-close]="false">
          <div class="panel panel-info">
            <div class="panel-heading">Generate TimeTable</div>
          </div>
        </modal-header>
        <form class="floating-labels" (submit)="generateTimeTable(generateTimeTableForm)"
              [formGroup]="generateTimeTableForm">
          <modal-body>

            <div class="form-group m-t-10 m-b-40 has-feedback">
              <input type="number" class="form-control" id="timeTableYear" required formControlName="timeTableYear">
              <span class="highlight"></span><span class="bar"></span>
              <label for="timeTableYear">Year(Eg. 2017)</label>

              <div class="has-success"
                   *ngIf="!formErrors.timeTableYear && generateTimeTableForm.get('timeTableYear').valid">
                <span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>
              </div>
              <div class="has-error" *ngIf="formErrors.timeTableYear">
                <span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>
              </div>
              <div *ngIf="formErrors.timeTableYear" class="alert alert-danger">
                {{ formErrors.timeTableYear }}
              </div>
            </div>

            <div class="form-group m-b-40 has-feedback">
              <input type="text" class="form-control" id="timeTableName" required formControlName="timeTableName">
              <span class="highlight"></span><span class="bar"></span>
              <label for="timeTableName">TimeTable Name : Eg. Term1</label>

              <div class="has-success"
                   *ngIf="!formErrors.timeTableName && generateTimeTableForm.get('timeTableName').valid">
                <span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>
              </div>
              <div class="has-error" *ngIf="formErrors.timeTableName">
                <span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>
              </div>
              <div *ngIf="formErrors.timeTableName" class="alert alert-danger">
                {{ formErrors.timeTableName }}
              </div>
            </div>


          </modal-body>
          <modal-footer>
            <div class="pull-right">
              <button type="button" class="btn btn-xl btn-danger btn-rounded waves-effect waves-light"
                      data-dismiss="modal" (click)="modalGenerateTimeTableDialog.dismiss()">Cancel
              </button>
              <div *ngIf="accessingService" class=""><i class="fa btn-xl fa-spinner">Generating..</i></div>
              <button type="submit" class="btn btn-xl btn-primary btn-rounded waves-effect waves-light"
                      [disabled]="!generateTimeTableForm.valid"
              >Submit
              </button>
            </div>
          </modal-footer>

        </form>
      </modal>
    </div>
  </div>
</div>
