<div class="row">
  <div class="col-md-12">
    <div class="box-shadow">

        <div class="pull-right">
          <div>
            <i class="fa fa-check icon-success fa-lg" aria-hidden="true">= Allocated {{'('+noOfAllocatedSubjects+')'}}</i>
          </div>
          <div>
            <i class="fa fa-times icon-error  fa-lg" aria-hidden="true">= Unallocated {{'('+noOfUnallocatedSubjects+')'}}</i>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">Subjects List {{noOfSubjects||""}}</div>
        <!-- Table -->
        <div class="table-responsive">
          <table class="table color-table primary-table">
            <thead>
            <tr>
              <th>Status</th>
              <th>#</th>
              <th>Subject Name</th>
              <th>YearGroups</th>
              <th>Edit</th>
            </tr>
            </thead>

            <tr *ngFor="let subject of subjects;let i=index">

                <td>
                  <div>
                    <i *ngIf="subject.isAllSubjectYearGroupsAllocated" class="fa fa-check icon-success fa-lg" aria-hidden="true"></i>
                  </div>
                  <div>
                    <i *ngIf="!subject.isAllSubjectYearGroupsAllocated" class="fa fa-times icon-error fa-lg" aria-hidden="true"></i>
                  </div>
                </td>
              <td>{{i+1}}</td>
              <td>{{subject.subjectFullName}}</td>

              <td>{{'Form '+ subject.subjectYearGroupList}}</td>

              <td>
                <button class="waves-effect waves-light btn-sm btn-info btn-rounded"
                        (click)="openSubjectAllocationModal(subject)">
                  Edit <i class="fa fa-edit"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="panel panel-blue" *ngIf="isSubjectsListEmpty">
        <div class="panel panel-info">
          <div class="panel-heading">No Subjects Have Been Created Currently,Click Button To Go To Subjects Pane
            <button class="btn btn-rounded btn-xl btn-primary waves-effect waves-light" (click)="goToSubjectsPane()">
              Go
              <i class="fa fa-plus-square"></i>
            </button>
          </div>
        </div>

      </div>

      <modal [animation]="true" [keyboard]="true" [backdrop]="backdrop" [size]="sm" (onClose)="closed()"
             [cssClass]="" #modalAllocateSubjectPeriod>
        <modal-header [show-close]="false">
          <div class="panel panel-info">
            <div class="panel-heading">Allocate Subject Periods</div>
          </div>
        </modal-header>
        <form class="floating-labels" (submit)="updateSubjectAllocation(allocateSubjectPeriodsForm)" [formGroup]="allocateSubjectPeriodsForm">
          <modal-body>


            <!--<div class="form-group m-t-10 m-b-40 has-feedback">-->
              <!--<input type="text" class="form-control" id="subjectFullName" required formControlName="subjectFullName">-->
              <!--<span class="highlight"></span><span class="bar"></span>-->
              <!--<label for="subjectFullName">Subject Full Name</label>-->

              <!--<div class="has-success" *ngIf="!formErrors.subjectFullName && addSubjectForm.get('subjectFullName').valid">-->
                <!--<span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>-->
              <!--</div>-->
              <!--<div class="has-error" *ngIf="formErrors.subjectFullName">-->
                <!--<span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>-->
              <!--</div>-->
              <!--<div *ngIf="formErrors.subjectFullName" class="alert alert-danger">-->
                <!--{{ formErrors.subjectFullName }}-->
              <!--</div>-->
            <!--</div>-->

              <div *ngFor="let currentFormControl of controlsWithExtraInfoArray">
                <ul>
                  <div class="form-group m-t-10 m-b-40 has-feedback">
                  <input type="text" class="form-control" id="{{currentFormControl.formControlName}}" required formControlName="{{currentFormControl.formControlName}}">
                  <span class="highlight"></span><span class="bar"></span>
                  <label for="{{currentFormControl.formControlName}}">Total Periods For Form {{currentFormControl.formControlLabelYearNo}}</label>

                    <!--I have no idea what the fuck is going on here.At this point,Im totally confused!,don't ask me to explain this ngIf-->
                    <div class="has-error" *ngIf="formErrors[currentFormControl.formControlName.toString()] && allocateSubjectPeriodsForm.get(currentFormControl.formControlName.toString()).touched">
                    <span class="glyphicon glyphicon-remove form-control-feedback t-0"></span>
                      <div class="alert alert-danger">
                        {{formErrors[currentFormControl.formControlName]}}
                      </div>
                    </div>
                    <div class="has-success" *ngIf="!formErrors[currentFormControl.formControlName.toString()] && allocateSubjectPeriodsForm.get(currentFormControl.formControlName.toString()).valid">
                    <span class="glyphicon glyphicon-ok form-control-feedback t-0"></span>
                    </div>

                  </div>
                </ul>
              </div>




          </modal-body>
          <modal-footer>
            <div class="pull-right">
              <button type="button" class="btn btn-xl btn-danger btn-rounded waves-effect waves-light"
                      data-dismiss="modal" (click)="modalAllocateSubjectPeriod.dismiss()">Cancel
              </button>
              <div *ngIf="accessingService" class=""><i class="fa btn-xl fa-spinner">Creating..</i> </div>
              <button type="submit" class="btn btn-xl btn-primary btn-rounded waves-effect waves-light"
                      [disabled]="!allocateSubjectPeriodsForm.valid"
              >Submit
              </button>
            </div>
          </modal-footer>

        </form>
      </modal>
    </div>
  </div>
</div>
