<!-- Left navbar-header -->
<div class="navbar navbar-default sidebar" role="navigation">

  <div class="sidebar-nav navbar-collapse collapse slimscrollsidebar">
    <!-- .User Profile -->
    <div class="user-profile">
      <div class="dropdown user-pro-body">
        <div>
          <img src="../../../assets/images/users/8.jpg" alt="user-img" class="img-circle"/></div>
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Steave Gection <span class="caret"></span></a>
        <ul class="dropdown-menu animated flipInY">
          <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
          <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
          <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
    </div>
    <!-- .User Profile -->
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- / Search input-group this is only view in mobile-->
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
	                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
	                        </span>
        </div>
        <!-- /input-group -->
      </li>
      <li class="nav-small-cap m-t-10">Main Menu</li>
      <!--Put data-toggle and data-target on li element to clear menu on click-->
      <li data-toggle="collapse" data-target=".navbar-collapse.in">
        <a routerLink="tutor" class="waves-effect" >
          <i data-icon="" class="linea-icon linea-basic fa-fw "></i>
          <span class="hide-menu">Tutors</span>
        </a>
      </li>
      <!--Put data-toggle and data-target on li element to clear menu on click-->
      <li data-toggle="collapse" data-target=".navbar-collapse.in">
        <a routerLink="programmegroup" class="waves-effect">
          <i data-icon="F"  class="linea-icon linea-software fa-fw"></i>
          <span class="hide-menu">Programmes/Classes</span>
        </a>
      </li>
      <li>
        <a id="subjectMain" class="waves-effect" data-toggle="collapse" data-target="subjectSubMenu"
           aria-expanded="false">
          <i data-icon="R" class="linea-icon linea-software fa-fw"></i>
          <span class="hide-menu">Subjects<span class="fa arrow"></span></span>
        </a>
        <ul id="subjectSubMenu" role="menu" class="nav collapse" aria-labelledby="subjectMain">
            <!--Put data-toggle and data-target on li element to clear menu on click-->
            <li data-toggle="collapse" data-target=".navbar-collapse.in">
              <a routerLink="subject" class="waves-effect">
                <i data-icon="F" class="linea-icon linea-software fa-fw"></i>
                <span class="hide-menu">Subject Mgmt.</span>
              </a>
            </li>
            <!--Put data-toggle and data-target on li element to clear menu on click-->
            <li data-toggle="collapse" data-target=".navbar-collapse.in">
              <a routerLink="subjectallocate" class="waves-effect">Allocate Subject Periods</a>
            </li>
          </ul>

      </li>
      <!--Put data-toggle and data-target on li element to clear menu on click-->
      <li>
        <a class="waves-effect dropdown-toggle" data-toggle="collapse" data-target="deptSubMenu" aria-expanded="false">
          <i data-icon="R" class="linea-icon linea-software fa-fw"></i>
          <span class="hide-menu">Departments<span class="fa arrow"></span></span>
        </a>
        <ul id="deptSubMenu" role="menu" class="nav collapse">
          <!--Put data-toggle and data-target on li element to clear menu on click-->
          <li data-toggle="collapse" data-target=".navbar-collapse.in">
            <a routerLink="department" class="waves-effect">Department Mgmt.</a>
          </li>
          <!--Put data-toggle and data-target on li element to clear menu on click-->
          <!--<li data-toggle="collapse" data-target=".navbar-collapse.in">-->
            <!--<a routerLink="departmentassign" class="waves-effect">Assign Tutors</a>-->
          <!--</li>-->
        </ul>

      </li>
      <!--Put data-toggle and data-target on li element to clear menu on click-->
      <li>

        <!--<a routerLink="timetable" class="waves-effect active" >-->
          <!--<i data-icon="" class="linea-icon linea-basic fa fa-magic "></i>-->
          <!--<span class="hide-menu">Generate TimeTable</span>-->
        <!--</a>-->
        <a class="waves-effect dropdown-toggle" data-toggle="collapse" data-target="timeTableSubMenu" aria-expanded="false">
          <i data-icon="R" class="linea-icon linea-software fa-fw"></i>
          <span class="hide-menu">TimeTable<span class="fa arrow"></span></span>
        </a>
        <ul id="timeTableSubMenu" role="menu" class="nav collapse">
          <!--Put data-toggle and data-target on li element to clear menu on click-->
          <li data-toggle="collapse" data-target=".navbar-collapse.in">
            <a routerLink="timetable-generation" class="waves-effect">Generate TimeTable</a>
          </li>
          <!--Put data-toggle and data-target on li element to clear menu on click-->
          <li data-toggle="collapse" data-target=".navbar-collapse.in">
            <a routerLink="timetable-mgmt" class="waves-effect">Manage Generated TimeTables.</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- Left navbar-header end -->
