<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
  <div class="sidebar-nav navbar-collapse slimscrollsidebar">
    <!-- .User Profile -->
    <div class="user-profile">
      <div class="dropdown user-pro-body">
        <div>
          <img src="../../../assets/images/users/8.jpg" alt="user-img" class="img-circle"/></div>
        <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">Steave Gection <span class="caret"></span></a>
        <ul class="dropdown-menu animated flipInY">
          <li><a href="#"><i class="ti-user"></i> My Profile</a></li>
          <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
          <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="login.html"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
      </div>
    </div>
    <!-- .User Profile -->
    <ul class="nav" id="side-menu">
      <li class="sidebar-search hidden-sm hidden-md hidden-lg">
        <!-- / Search input-group this is only view in mobile-->
        <div class="input-group custom-search-form">
          <input type="text" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
	                        <button class="btn btn-default" type="button"> <i class="fa fa-search"></i> </button>
	                        </span>
        </div>
        <!-- /input-group -->
      </li>
      <li class="nav-small-cap m-t-10">Main Menu</li>
      <li>
        <a routerLink="tutor" class="waves-effect" >
          <i data-icon="" class="linea-icon linea-basic fa-fw "></i>
          <span class="hide-menu">Tutors</span>
        </a>
      </li>
      <li>
        <a routerLink="programmegroup" class="waves-effect">
          <i data-icon="F"  class="linea-icon linea-software fa-fw"></i>
          <span class="hide-menu">Programmes/Classes</span>
        </a>
      </li>
      <li>
        <a class="waves-effect">
          <i data-icon="R" class="linea-icon linea-software fa-fw"></i>
          <span class="hide-menu">Subjects<span class="fa arrow"></span></span>
          <ul class="nav nav-second-level">
            <li> <a routerLink="subject" class="waves-effect">Subject Mgmt.</a> </li>
            <li> <a routerLink="subjectallocate" class="waves-effect">Allocate Subject Periods</a> </li>
          </ul>
        </a>
      </li>
      <li>
        <a routerLink="department" class="waves-effect">
          <i data-icon="" class="linea-icon linea-basic fa-fw "></i>
          <span class="hide-menu">Departments</span>
        </a>
      </li>
      <li>
        <a routerLink="timetable" class="waves-effect active" >
          <i data-icon=""  class="linea-icon linea-basic fa-fw "></i>
          <span class="hide-menu">Generate TimeTable</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- Left navbar-header end -->
